h1 {
    border: 5px solid red;
  }
  
  h2 {
    border: 4px dotted blue;
  }
  
  div {
    border: double;
  }

  body {
    background-image: https://images.wallpaperscraft.com/image/single/night_city_signs_neon_139551_1920x1080.jpg ;
  }
  